.product{
    width:300px;
    border: 1px #232F3E solid;
    border-radius:5px;
    padding:10px;
    text-align: center;
    position: relative;
    
}
.product img{
    width:100%;
}
.cart-btn{
    background-color:#FEBD69;
    border:none;
    border-radius: 5px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    
}
.btn-text{
    margin-right: 5px;
}
@media only screen  and (max-width:688px){
    .product{
        width:90%;
    }
}